body{
    background-color: #F4F4F4
}
#mainNav, #footer{
    background-color: #2D2727 !important;
    border-color: #2D2727 !important;
    color:#eee;
}

.nav-header-sombra{
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75) !important;
}

.navbar {
    padding: .5em 0em .5rem 0em !important;
}

#footer{
   padding-top: 1rem !important;
   padding-bottom: 1.1rem !important;
}

#footer-text{
    margin-top: 0.7rem !important;
}

.nav-name {
    font-size: 28px;
    color: #EA8BD9 !important;
}

.nav-name:hover{
    font-size: 27px;
    color: #D282C4 !important;
}

a{
    color: #D282C4 !important;
}

a:hover{
    color: #EA8BD9 !important;
    background: #646161 !important;
}

#continer-general{
    background-color: #F4F4F4 !important;
    padding-bottom: 20px;
}

#continer-secundary{
    background-color: #EBEBEB !important;
}

.row-general-top {
   margin-top: -15px;
}

.selected{
     color: #EA8BD9 !important;
    background: #646161 !important;
}

.col-menu{
        margin-left:0px
}

.btn-menu{
    background-color: #EA8BD9 !important;
    border-color: #333 !important;
    text-shadow: none !important;
}

.btn-menu:hover{
    background-color: #D282C4 !important;
    border-color: #333 !important;
    text-shadow: none !important;
}

.line{
    border:1px solid #EEEEEE;
    margin-top: 20px; 
    margin-bottom: 20px
}

.btn-modal{
    margin-top:10px !important;
}


@media (max-width: 768px) {
   .nav-name {
        font-size: 22px;
        color: #EA8BD9 !important;
        margin-left: -50px!important;
    }

    #footer-text{
        margin-top: 0.7rem !important;
        padding-bottom: 1.6rem !important;
    }
     
}

@media (max-width: 732px) {
    .nav-name {
        font-size: 28px;
        color: #EA8BD9 !important;
        margin-top: 30px;
        margin-left: -60px;
    }

    .col-menu{
        margin-left:15px
    }

    #footer-text{
        margin-top: 0.7rem !important;
        padding-bottom: 1.6rem !important;
    }

    .btn-top{
        margin-top: 30px;
    }
}

@media (max-width: 450px) {
   .nav-name {
        font-size: 28px;
        color: #EA8BD9 !important;
        margin-top: 30px;
        margin-left: -60px;
    }

    .col-menu{
        margin-left:15px
    }

    #footer-text{
        margin-top: 0.7rem !important;
        padding-bottom: 1.6rem !important;
    }

    .btn-top{
        margin-top: 30px;
    }
}